

:root{
    --light:#011627;
    --color-text:#fdfffc;
    --box-shadow:5px 5px 15px #0d1b2a, -5px -5px 15px #000814;
    --gradiente:linear-gradient(-45deg, #38b000, #ccff33)
}

.swal2-popup {
    background-color:var(--light); /* Azul claro como color de fondo */
    color: whitesmoke;
  }

body{
    color: var(--color-text);
    background: var(--light);
    margin: 0;
    font-family: 'Poppins',sans-serif;
    font-size: 15px;
}

.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

    #skillsContainer{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        justify-items: center; 
        align-items: center;
        
        width: 100%;
    }

    .wrapper{
        margin: 10px 5px;
        border-radius: 10px;
        display: flex;
        padding:4px ;
        width: 185px;
        height: 155px;
        position: relative;
        justify-content: center;
        align-items: center;
        /* background-color: #3a3a3a3a; */
        overflow: hidden;
    }

    .tecnologia{
        background-color: #0a263e;
    
        border-radius: 10px;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-around;
        position: absolute;
        width: 180px;
        height: 150px;
    
    }

    .tecnologia > .tecnologia-icon{
        width: 60px;
    }

    .tecnologia-nombre{
        text-transform: uppercase;
        font-size: 16px;
        margin: 0;
    }


    .spinner{
        position: absolute;
        height: 150%;
        width: 150%;
        background-image:conic-gradient(
        #00000000 0deg ,
        #00000000 10deg,
        #1c88c7 50deg,

        #00000000 50deg ,
        #00000000 100deg,
        #1b73ba 150deg,

        #00000000 150deg ,
        #00000000 190deg,
        #1c88c7 240deg,

        #00000000 240deg ,
        #00000000 280deg,
        #1b73ba 330deg,
        #00000000 330deg


        );

        animation: spinner 6s linear infinite;
    }

    @keyframes spinner{
        100%{
            transform: rotate(360deg);
        }


    }


    .CV{
        color:white;
        text-decoration: none;
        font-size: 20px;
        font-weight: bold;
        padding: 10px 25px;
        border-radius: 10px;
        box-shadow: var(--box-shadow);
        border: 1px solid #0a263e;
        
    }

.logo{  
    text-align: center;
    cursor: pointer;
}

.container{
    width: 1200px;
    max-width:80%;
    margin: auto;
}

.banner{
    margin-top: 100px;
    display: grid;
    grid-template-columns: 60% 40%;
    border-bottom:1px solid #ccc ;
    padding-bottom:50px;
}

.banner .content{
    text-align: justify;
    padding-right: 50px;
}

.banner .content h1{
    font-size: 4.5em;
    margin: 0;
}

.gradientText{
    display: inline-block;
    background: var(--gradiente);
    background-clip:text;
    -webkit-text-fill-color: transparent;
}

.job{
    display: inline-block;
}

.job::before{
    content: attr(data-job1);
    overflow: hidden;
    display: inline-flex;
    /* animation: effectText 1s linear infinite alternate,
    changeText 3s linear infinite; */
}

@keyframes effectText {
    from{
        max-width: 0;
    }to{
        max-width: 500px;
    }
    
}

@keyframes changeText {
    from{
        content:attr(data-job1);
    }to{
       content: attr(data-job2);
    }
    
}

.find{
    margin-top: 50px;
}

.find h3{
    margin-top: 25px;
}
.find ul {
    padding:0;
    list-style: none;
    display: flex;
}

.find ul a,
.contact a{
    margin: 10px;
    transition: 1s;
    text-decoration: none;
}

.find ul a li,
.contact a li{
    color: white;
    width: 50px;
    height: 50px;
    box-shadow: var(--box-shadow);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 1s ;
    font-size: 25px;
}

.find ul li:hover,
.contact li:hover{
    color: #fff;
    background-image: var(--gradiente);
}

.banner .avatar{
    filter:  drop-shadow(1px 0px 20px rgba(116, 106, 106, 0.395));
    position: relative;
    height: max-content;
    text-align: center;
}

.banner .avatar::before{
    content: "";
    position: absolute;
    width: 90%;
    height: 80%;
    z-index: -1;
    bottom: 0;
    border-radius:10px;
    box-shadow: var(--box-shadow);   
}

.banner img {
    width: 90%;
}

.title{
    text-align: center;
}

.listSkill{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px 20px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 80px;
}

.listSkill .evaluate{
    width: 100%;
    height: 20px;
    box-shadow: var(--box-shadow);
    border-radius: 10px;
    margin-top:20px ;
    position: relative;
}

.listSkill .evaluate::before{
    content: "";
    position: absolute;
    width: var(--point);
    height: 100%;
    background: var(--gradiente);
    border-radius: 10px;
}

.listProyect{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    border-bottom: 1px solid #ccc;
    padding-bottom:50px;
}

.listProyect .item  {
    text-align: center;
    box-shadow: var(--box-shadow);
    padding: 10px;


    border-radius: 10px;
    font-weight: bold;
    font-size: large;
}

.listProyect .item img{
    height: 13rem;
    object-fit: cover;
    width: 90%;
    border-radius: 40px;
    cursor: pointer;
    transition: .5s ease;
}

.listProyect .item .name{
    padding: 5px;
}

.listProyect .item img:hover{
    width: 80%;
}

.contact{
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.hosted{
    color: #46b705;
    margin: 3px;
}



@media only screen and  (max-width:1024px) {
    .banner{
        grid-template-columns: 40% 60%;
    }

    .banner.content h1{
        font-size: 2em;
    }
    .listProyect{
        grid-template-columns:repeat(2, 1fr) ;
        
    }

    #skillsContainer{
        grid-template-columns:repeat(3, 1fr) ;
        gap: 30px;

    }

    .CV{
        font-size: 18px;
        padding: 7px 15px;

    }

}

@media only screen and (max-width:767px) {
    .banner{
        grid-template-columns: 1fr;
    }

    .banner .content h1{
        font-size: 1.2em;
    }

    .banner .avatar{
        grid-row-start:1;
    }
    .banner .content{
        padding-right:0px ;
    }
    .listSkill,
    .listProyect{
        grid-template-columns: 1fr;
    }


    #skillsContainer{
        grid-template-columns:repeat(2, 1fr) ;
        gap: 5px;

    }

    .tecnologia{
        width: 150px;
        height: 130px;
    }

    .wrapper{
        width: 155px;
        height: 135px;
    }


    .CV{
        font-size: 25px;
        padding: 10px 20px;

    }
    
}